
#header{
	background-color:#eae2b7;
	margin: -8PX;
	height: 50px;
   
    width: 100%;

}

#nav {
	 margin-left: 50px;
     display: inline-block;
     position: absolute;
     top:13px;

}

.nv {
	color:#d62828;
	text-decoration: none;
	font-size: 1.3em;
	padding-left: 15px; 
}

#img{
	height: 45px;
	width: 45px;
	margin-left: 20px;
	margin-top: 4px;
}

#n{
	margin-left: -8px;
	margin-top: +8px;
}



.div{
	display: inline-flex;
	margin-right: 50px;
    flex-direction: column;
    


.t{
	display: block;
	margin-left: 5px;
	height: 141px;
	width:97px;
	
}

.text{
	width: 140px;
	height: 30px;
	text-align: center; ;
	

}

#conteudo{
	margin-left: 220px;
}

#titulo{

	margin-left: 220px;

}
